@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  color: #414141;
}

a{
  text-decoration: none;
}

section{
  padding: 100px 0;
}

.header--large {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

.header--medium {
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
}

.header--small {
  font-weight: bold;
  font-size: 18px;
}

.header--smallest {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: #6c6c6c;
}

.button {
  display: inline-block;
  background-color: white;
  color: #414141;
  font-size: 18px;
  border: 1px solid #414141;
  border-radius: 4px;
  padding: 10px 40px;
  max-width: 192px;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
  color: #ffffff;
  border: 1px solid transparent;
}

.content{
  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  padding-left:  10px;
  padding-right: 10px;
}

.landing {
  margin: 0 auto;
  color: #ffffff;
  width: 100%;
  padding: 0;
  height: 100vh;
}
.landing__cover{
  filter: brightness(70%);
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.landing__container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-img {
  width: 106px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

.landing__description{
  text-align: center;
  width: 100%;
  max-width: 550px;
  font-size: 18px;
  line-height: 32px;
  margin: 10px auto 40px auto;
}

.user-details {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

input {
  display: inline-block;
  width: 100%;
  max-width: 350px;
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.25);
  border: none;
  border-radius: 4px;
}

input::placeholder {
  color: #ffffff;
  font-size: 16px;
}

.introduction {
  width: 500px;
  float: left;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.introduction__content {
  margin-bottom: 30px;
}

.introduction .header--medium {
  margin-bottom: 50px;
}

.introduction__content .description {
  margin-top: 10px;
}

.introduction__img {
    float: right;
    margin-top: 40px;
    width: 100%;
    max-width: 550px;
}

hr {
  border: none;
  background-color: #dcdcdc;
  height: 1px;
  margin: 0;
}

.additional {
  text-align: center;
  font-size: 0;
}

.additional-content {
  display: inline-block;
  width: 100%;
  max-width: 370px;
  margin-right: 20px;
}

.additional .header--small {
  margin: 20px 0 10px 0;
}

.highlighted{
  background-color: #f6fafd;
  padding:0;
}

.founder {
  background-color: #f6fafd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.founder__container {
  max-width: 700px;
}

.founder__cover {
  position: absolute;
  left: 0;
  width: 100%;
  height: 685px;
  background-color: #f6fafd;
  z-index: -1;
}

.founder__img {
  width: 100%;
  max-width: 400px;
  margin: 30px 0 0 0;
}

.founder__description {
  font-size: 24px;
  line-height: 40px;
}

.founder__name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.founder__role {
  font-size: 20px;
}

.card-container {
  text-align: center;
}

.card-container .description {
    max-width: 550px;
    margin: 10px auto 50px auto;
}

.card {
  display: inline-block;
  max-width: 371px;
  height: 480px;
  padding: 40px;
}

.card:hover {
  background-color: #f6fafd;
  cursor: pointer;
}

.card__fee {
  font-size: 72px;
  color: #fe4fa7;
  margin: 25px 0;
}

.card__fee.month::after {
  content: "/ mo";
  font-size: 14px;
  color: #414141;
  font-weight: bold;
}

.featured {
  background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
  margin-bottom: 100px;
}

.featured-content{
  text-align: center;
  color: #ffffff;
}

.featured-content p{
    max-width: 550px;
    width: 100%;
    margin: 20px auto;
}

.featured-content .button{
  color: #ffffff;
  background-image: none;
  background-color: transparent;
  border: 1px solid;
}

.featured-content .button:hover{
    color: black;
    background-color: #ffffff;
}



footer {
  text-align: center;
  padding-bottom: 30px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.services{   
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.services .services__links:hover {
  color: #fe50a6;
}

.services__links{
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
}

.social {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social__icons {
  color: black;
}

.social__icons:hover {
  color: #fe50a6;
}

.copyright {
  color: #464646;
  font-size: 14px;
}

.policy{
    display: inline-block;
    margin-left: 18px;
}

.policy__links {
  color: #464646;
  font-size: 14px;
  margin-right: 20px;
}

.policy__links:hover {
  color: #fe50a6;
}

@media screen and (max-width: 1190px) {
  .additional-content {
    margin-bottom: 40px;
  }

  .featured {
    background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
  }
}

@media screen and (max-width: 1074px) {

  .introduction {
    justify-content: center;
  }

  .introduction {
    width: 100%;
    text-align: center;
  }

  .introduction__content{
    float: left;
    width: 45%;
  }

  .introduction__content:last-child{
    float: right;
  }

  .introduction__img{
    width: 100%;
    float: none;
    display: block;
    margin:auto;
  }

  .founder__name,
  .founder__role {
    text-align: center;
  }

}

@media screen and (max-width: 823px) {
  .user-details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 600px) {


  .header--large {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
  }
  
  .header--medium {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
  }
  
  .header--small {
    font-weight: bold;
    font-size: 14px;
  }
  
  .header--smallest {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #464646;
  }
  
  .description {
    font-size: 14px;
    line-height: 22px;
    color: #6c6c6c;
  }
  
  .button {
    font-size: 14px;
  }

  input::placeholder{
    font-size: 14px;
  }

  section{
    padding: 30px 0;
  }

  .introduction {
    text-align: left;
  }

  .introduction {
    width: 100%;
  }

  .introduction__content {
    float: none;
    width: 100%;
  }
  
  .introduction__content:last-child{
    float: none;
  }

  .additional-content{
    margin: 0;
    margin-bottom: 40px;
  }

  .founder{
    padding: 10px;
  }

  .policy{
    margin-top: 20px;
  }

}
