@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  
}

body {
  font-family: "Lato", sans-serif;
  color: #414141;
}

a{
  color: inherit;
  text-decoration: none;
}

.txt-white{
  color: #ffffff;
}

.heading--lg{
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
}

.heading--md {
  font-weight: bold;
  font-size: 36px;
  line-height: 51px;
}

.heading--sm{
  font-weight: bold;
  font-size: 18px;
}

.heading--xs {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
}

.description{
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: inherit;
  max-width: 550px;
}

.description-sm{
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6c6c6c;
  max-width: 550px;
}

.description-xl{
  font-size: 24px;
  font-weight: normal;
  line-height: 40px;
  color: #414141;
}

.button {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 15px 40px;
  max-width: 192px;
  cursor: pointer;
}

.variant-one{
  color: #ffffff;
  background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
}

.variant-one:hover{
  color: #414141;
  background-image: none;
  background-color: #ffffff;
  border: 1px solid #414141;
}

.variant-two{
  background-color: #ffffff;
  color: #414141;
  border: 1px solid #414141;
}

.variant-two:hover{
  color: #ffffff;
  background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
  border: 1px solid transparent;
}

.variant-three{
  background-color: #ffffff;
  color: #464646;
  border: 1px solid transparent;
}

.variant-three:hover{
  color: #fe50a6;
}

.ta-center{
  text-align: center;
}

.container{
  max-width: 1200px;
  margin-left:  auto;
  margin-right: auto;
  padding-left:  10px;
  padding-right: 10px;
}

.hero {
  padding: 0;
  height: 100vh;
}

.cover{
  filter: brightness(70%);
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero .container{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 106px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 0;
}

.user-details{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.user-input{
  display: inline-block;
  width: 100%;
  max-width: 350px;
  height: 53px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px; 
}

input::placeholder {
  color: #ffffff;
  font-size: 16px;
}



.clearfix::after {
  display: block;
  content: "";
  clear: both;
}


.column-one{
  float: left;
  max-width: 516px;
}

.column-two{
  float: right;
  max-width: 556px;
}


hr {
  border: none;
  background-color: #dcdcdc;
  height: 1px;
  margin: 0;
}


.additional-content {
  display: inline-block;
  width: 100%;
  max-width: 370px;
}


.highlighted{
  background-color: #f6fafd;
}


.box {
  float: left;
  max-width: 550px;
  font-size: 20px;
  font-size: 24px;
  line-height: 40px;
}

.box-img{
  width: 100%;
  max-width: 395px;
}

.box__item {
  font-size: 24px;
  line-height: 10px;
  font-weight: bold;
}

.box__item:last-child{
  font-weight: normal;
  font-size: 20px;
  margin-top: 0;
}


.card {
  display: inline-block;
  max-width: 371px;
  height: 483px;
  padding: 52px 45px 67px;
}


.card .description-sm{
  max-width: 282px;
}

.card:hover {
  background-color: #f6fafd;
  cursor: pointer;
}

.card__item {
  font-size: 72px;
  color: #fe4fa7;
  margin: 28px 0;
  height: 86px;
}

.pink-bg-text{
  font-size: 72px;
  color: #fe4fa7;
  height: 86px;
}

.month{
  font-size: 14px;
  color: #414141;
  font-weight: bold;
}

.featured {
  background-image: linear-gradient(to right, #fe985b 3%, #fe4fa7);
}


.featured-content p{
    max-width: 550px;
    width: 100%;
}

.footer__logo {
  display: inline-block;
}

.nav{   
    max-width: 617px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: #464646;
}


.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #464646;
  font-size: 18px;
}

.links:hover{
  color: #fe50a6;
}

.footer__end{
  max-width: 617px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #464646;
  font-size: 14px;
}

.copyright{
  font-size: 14px;
  margin-right: 18px;
  margin-top: 10px;
}

.footer__nav{
  display: inline-block;
  margin-top: 10px;
}
.footer__nav :not(.links:first-child){
  margin-left: 37px;
}


@media screen and (max-width: 1092px) {

  .content-container{
    max-width: 100%;
    float: none;
    text-align: center;
  }

  .content-container .content{
    float: left;
    width: 50%;
    padding: 0 20px;
  }

  .content-container .content:last-child{
    float: right;
    width: 50%;
  }

  .media{
    float: none;
    margin: auto;
    margin-top: 30px;
  }
  .media img{
    width: 100%;
  }


}

@media screen and (max-width: 1018px) {

    .box{
      clear: both;
      margin: 0;
      text-align: center;
      max-width: 100%;
    }

    .column-one{
      float: none;
      margin: auto;
    }

    .box-img{
      max-width: 100%;
    }
    .highlighted{
      padding: 20px 0;
    }
}

@media screen and (max-width: 823px) {

  .user-details {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

}

@media screen and (max-width: 600px) {

  .content-container{
    text-align: left;
  }

  .content-container .content{
    float: none;
    width: 100%;
    padding: 0 ;
  }

  .content-container .content:last-child{
    float: none;
    width: 100%;
  }


  .box p{
    font-size: 18px;
    line-height: 25px;
  }

  .box__item {
    font-size: 18px;
    line-height: 10px;
    font-weight: bold;
  }
  .box__item:last-child{
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
  }


  .heading--lg {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    line-height: 45px;
  }
  
  .heading--md {
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
  }
  
  .heading--sm {
    font-weight: bold;
    font-size: 14px;
  }
  
  .heading--xs {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #464646;
  }
  
  .description {
    font-size: 14px;
    line-height: 22px;
    color: inherit;
  }
  
  .description-xl{
    font-size: 20px;
    line-height: 40px;
  }

  .button {
    font-size: 14px;
    padding: 10px 40px;
  }

  input{
    height: 40px;
  }

  input::placeholder{
    font-size: 14px;
  }

  .additional-content{
    margin: 0;
  }

  .nav{
    justify-content: center;
  }

}
